<div class="row">
    <!-- Render prodyct card -->
    <div class="col-sm-6 col-lg-4 mb-5">
        <div class="card">
            <img class="card-img-top" width="294" height="294" src="{% static 'categories/testcoat.jpg' %}" alt="Image">
            <div class="card-body">
                <!-- Product title -->
                <h5 class="card-title">Designer Bean</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-5">
        <div class="card">
            <img class="card-img-top" width="294" height="294" src="categories\static\categories\testcoat.jpg"
                alt="Image">
            <div class="card-body">
                <!-- Product title -->
                <h5 class="card-title">Designer Bean</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-5">
        <div class="card">
            <img class="card-img-top" width="294" height="294" src="categories\static\categories\testcoat.jpg"
                alt="Image">
            <div class="card-body">
                <!-- Product title -->
                <h5 class="card-title">Designer Bean</h5>
            </div>
        </div>
    </div>
</div>